nav {
	background: #e3e3e3;
	overflow: hidden;
}

nav li {
	float: left;
	list-style: none;
}

nav li a {
	color: #292929;
	text-decoration: none;
	margin-right: 25px;
	padding-right: 25px;
	border-right: 1px solid black;
}

nav li:last-child a{
	/*color: green;*/

	border-right: none;
}

nav li a:hover {
	color: green;
}