body {
	width: 550px;
	margin: 100px auto;
}

p {
	/*-webkit-column-count: 3;*/

	/*-webkit-column-width: 100px;*/

	/*-webkit-columns: 3;*/

	/*-webkit-columns: 100px;*/

	/*-webkit-column-gap: 50px;*/

	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;


	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;

}